[req]
default_bits       = 2048
default_keyfile    = myco.key
distinguished_name = req_distinguished_name
req_extensions     = req_ext
x509_extensions    = v3_ca

[req_distinguished_name]
countryName                 = UK
countryName_default         = UK
stateOrProvinceName         = London
stateOrProvinceName_default = London
localityName                = London
localityName_default        = London
organizationName            = myco
organizationName_default    = myco
organizationalUnitName      = devops
organizationalUnitName_default = devops
commonName                  = localhost
commonName_default          = localhost
commonName_max              = 64

[req_ext]
subjectAltName = @alt_names

[v3_ca]
subjectAltName = @alt_names

[alt_names]
DNS.1   = localhost
DNS.2   = 127.0.0.1
DNS.3   = dev.mycodev.com
DNS.4   = test.mycodev.com